<h1>Congrats on your order, <%= @order.user.name %>!</h1>
<p>Here's what you ordered:</p>
<table class="cartTable">
	<tr>
		<th>Product name</th>
		<th>Quantity</th>
	</tr>
	<% @order.carted_products.each do |carted_product| %>
	<tr>
		<td><a href="/products/<%= carted_product.product_id %>"><%= carted_product.product.name %></a></td>
		<td><%= carted_product.quantity %></td>
<% end %>
</table>
<p>Order ID: <%= @order.id %></p>
<p>Subtotal: <%= @order.subtotal %></p>
<p>Tax: <%= @order.tax %></p>
<p>Total: <%= @order.total %></p>
<p>An email confirmation will one day be sent to: <%= @order.user.email %></p>
<p>Purchased on: <%= @order.pretty_time %></p>
