<h1 class="indexHeading">Welcome To Dave's Shop!</h1>

<div class="allProductsDiv">
<% @products.each_slice(3) do |three_products| %>
	<div class="row">
	<% three_products.each do |product| %>
		<div class="col-md-4 productDiv">
			<h4><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
			<p><%= number_to_currency(product.price) %></p>
			<% if !product.images.empty? %>
				<p><img src="<%= product.images.first.url %>" class="productImage"></p>
			<% end %>
			<p><%= product.description %></p>
			<a href="/products/<%= product.id %>"><button type="button" class="btn btn-warning">View Product</button></a>
			<%= form_tag "/carted_products", method: :post do %>
				<%= hidden_field_tag :product_id, "#{product.id}" %>
				<%= submit_tag "Add To Cart", class: "btn btn-primary" %>
			<% end %>
		</div>
	<% end %>
	</div>
<% end %>
</div>