<h1>Here Is Your Product:</h1>
<p>Name: <%= @product.name %></p>
<% @product.images.each do |image| %>
	<p><img src="<%= image.url %>"></p>
<% end %>
<p>Description: <%= @product.description %></p>
<p>Supplier: <%= @supplier.name %></p>
<p>Categories:</p>
<% @product.categories.each do |category| %>
	<a href="/products?category=<%= category.name %>"><%= category.name %></a>
<% end %>

<h2><%= @product.sale_message %></h2>

<p class=<%= @product.discount %>>
	Price: <%= number_to_currency(@product.price) %>	
</p>
<p>Tax: <%= number_to_currency(@product.tax) %></p>
<p>Total: <%= number_to_currency(@product.total) %></p>

<%= form_tag "/orders?product_id=#{@product.id}", method: :post do %>
<p><%= label_tag :quantity %>
<%= text_field_tag :quantity %></p>
<%= submit_tag "Buy Now" %>
<% end %>

<br>
<br>
<br>

<%= button_to("Edit Product", "/products/#{@product.id}/edit", method: :get) %>
<%= button_to("Remove Product", "/products/#{@product.id}", method: :delete) %>