<!-- <h1>Here Is Your Product:</h1> -->
<% if @carted_product && @carted_product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@carted_product.errors.count, "error") %> prohibited this product from being added to your cart:</h2>
 
    <ul class="errorsList">
    <% @carted_product.errors.full_messages.each do |msg| %>
      <% msg.slice!(0, 5) %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<h1><%= @product.name %></h1>
<% @product.images.each do |image| %>
	<span><img src="<%= image.url %>" class="productImage"></span>
<% end %>
<p>Description: <%= @product.description %></p>
<p>Supplier: <%= @supplier.name %></p>
<p>Categories:</p>
<% @product.categories.each do |category| %>
	<a href="/products?category=<%= category.name %>"><%= category.name %></a>
<% end %>

<h2><%= @product.sale_message %></h2>

<p class=<%= @product.discount %>>
	Price: <%= number_to_currency(@product.price) %>	
</p>
<!-- <p>Tax: <%= number_to_currency(@product.tax) %></p>
<p>Total: <%= number_to_currency(@product.total) %></p> -->

<%= form_tag "/carted_products", method: :post do %>
<span><%= label_tag :quantity %>
<%= select_tag(:quantity, options_for_select(1..10)) %></span>
<%= hidden_field_tag :product_id, "#{@product.id}" %>
<%= submit_tag "Add To Cart", class: "btn btn-primary" %>
<% end %>

<br>
<% if current_user && current_user.admin %>
	<%= button_to("Edit Product", "/products/#{@product.id}/edit", method: :get) %>
	<%= button_to("Remove Product", "/products/#{@product.id}", method: :delete) %>
<% end %>